<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabela - MIP/TRU</title>

  <!-- favicon -->
  <link rel="shortcut icon" href="/img/logoIcon.png" />

  <!--Bootstrap-->
  <link rel="stylesheet" href="/css/bootstrap.min.css">

  <!-- Fonts -->
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">

  <!--Link Axios.js-->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
  
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
      <div class="container">
        <a href="/sobre" class="txt-info "><img src="/img/infor.png" alt="" class="icon-info"> Sobre</a>

        <div class="dropdown">
          <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Usuário
          </button>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <img src="/img/focas.png" alt="" class="img-perfil text-center img-fluid">
            <strong>
              <p class="text-center">
                <%= user %>
              </p>
            </strong>
            <hr>
            <a class="dropdown-item" href="/editar">Meu Perfil</a>
            <% if(profile=='2' ) { %>
              <a class="dropdown-item" href="/cadastro">Cadastro</a>
              <% } %>
                <a class="dropdown-item" href="/logout">Sair</a>
          </div>

        </div>

      </div>

      </div>

    </nav>
  </header>

  <!-- Alerta -->
  <!-- <div class="alert alert-success alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">Seja Bem-Vindo!</h4>
  <p>Olá, <Strong><%= user %></Strong>. Esse é o Filtro NFE, uma ferramenta para download de notas fiscais eletrônicas do estado do Pará.</p>
  <hr>
  <p class="mb-0">Para começarmos, primeiro aplique os filtros abaixo, em seguida escolha o agrupamento, e por fim clique em "Baixar em CSV".   </p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->

  <!-- Cria uma lista com as mensagens ao ser redirecionado após um cadastro -->
  <% if(messages.success_msg) {%>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= messages.success_msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
  <% } %>

  <% if(messages.error) {%>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= messages.error %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
  <% } %>

          <div class="container mt-5 grande">
            <div class="">
              <form method="POST" id="form">
                <div class="row mb-3">
                  <div class="col-md-6 mb-2">
                    <select name="ano" id="ano" class="selectpicker form-control" data-style="btn-default border"
                    multiple data-live-index="true" title="Selecionar Ano">
                      <% ano.forEach(a=> {%>
                        <option value="<%=a.ano %>">
                          <%= a.ano %>
                        </option>
                        <%}); %>
                    </select>
                  </div>
                  <div class="col-md-6 mb-2">
                    <select name="municipio_emissor_codigo" id="municipio_emissor_codigo" class="selectpicker form-control"
                    data-style="btn-default border" multiple data-live-index="true" title="Selecionar Código do Município Emissor">
                      <% municipio_emissor_codigo.forEach(m_e_c=> {%>
                        <option value="<%=m_e_c.municipio_emissor_codigo %>">
                          <%= m_e_c.municipio_emissor_codigo %>
                        </option>
                        <%}); %>
                    </select>
                  </div>
                  <div class="col-md-6 mb-2">
                    <select name="municipio_emissor" id="municipio_emissor" class="selectpicker form-control"
                    data-style="btn-default border" multiple data-live-index="true" title="Selecionar Município Emissor">
                      <% municipio_emissor.forEach(m_e=> {%>
                        <option value="<%=m_e.municipio_emissor %>">
                          <%= m_e.municipio_emissor %>
                        </option>
                        <%}); %>
                    </select>
                  </div>
                  <div class="col-md-6 mb-2">
                    <select name="uf_emissor" id="uf_emissor" class="selectpicker form-control"
                    data-style="btn-default border" multiple data-live-index="true" title="Selecionar Estado Emissor">
                      <% uf_emissor.forEach(u_e=> {%>
                        <option value="<%=u_e.uf_emissor %>">
                          <%= u_e.uf_emissor %>
                        </option>
                        <%}); %>
                    </select>
                  </div>

                  <div class="col-md-6 mb-2">
                    <select name="municipio_destinatario_codigo" id="municipio_destinatario_codigo" class="selectpicker form-control"
                    data-style="btn-default border" multiple data-live-index="true" title="Selecionar Código do Município Destinatário">
                      <% municipio_destinatario_codigo.forEach(m_d_c=> {%>
                        <option value="<%=m_d_c.municipio_destinatario_codigo %>">
                          <%= m_d_c.municipio_destinatario_codigo %>
                        </option>
                        <%}); %>
                    </select>
                  </div>

                  <div class="col-md-6 mb-2">
                    <select name="municipio_destinatario" id="municipio_destinatario" class="selectpicker form-control"
                      data-style="btn-default border" multiple data-live-index="true" title="Selecionar Município Destinatário">
                      <% municipio_destinatario.forEach(dest=> {%>
                        <option value="<%=dest.municipio_destinatario %>">
                          <%= dest.municipio_destinatario %>
                        </option>
                        <%}); %>
                    </select>
                  </div>

                  <div class="col-md-6 mb-2">
                    <select name="uf_destinatario" id="uf_destinatario" class="selectpicker form-control"
                    data-style="btn-default border" multiple data-live-index="true" title="Selecionar Estado Destinatário">
                      <% uf_destinatario.forEach(u_d=> {%>
                        <option value="<%=u_d.uf_destinatario %>">
                          <%= u_d.uf_destinatario %>
                        </option>
                        <%}); %>
                    </select>
                  </div>
                  <div class="col-md-6 mb-2">
                    <select name="cfop" id="cfop" class="selectpicker form-control"
                    data-style="btn-default border" multiple data-live-index="true" title="Selecionar CFOP">
                      <% cfop.forEach(cfop=> {%>
                        <option value="<%=cfop.cfop %>">
                          <%= cfop.cfop %>
                        </option>
                        <%}); %>
                    </select>
                  </div>
                  <div class="col-md-6 mb-2">
                    <select name="cfop_1d" id="cfop_1d" class="selectpicker form-control"
                    data-style="btn-default border" multiple data-live-index="true" title="Selecionar CFOP (1D)">
                      <% cfop_1d.forEach(cfop_1d=> {%>
                        <option value="<%=cfop_1d.cfop_1d %>">
                          <%= cfop_1d.cfop_1d %>
                        </option>
                        <%}); %>
                    </select>
                  </div>
                  <div class="col-md-6 mb-2">
                    <select name="cfop_2d" id="cfop_2d" class="selectpicker form-control"
                    data-style="btn-default border" multiple data-live-index="true" title="Selecionar CFOP (2D)">
                      <% cfop_2d.forEach(cfop_2d=> {%>
                        <option value="<%=cfop_2d.cfop_2d %>">
                          <%= cfop_2d.cfop_2d %>
                        </option>
                        <%}); %>
                    </select>
                  </div>
                  <div class="col-md-6 mb-2">
                    <select name="cfop_3d" id="cfop_3d" class="selectpicker form-control"
                    data-style="btn-default border" multiple data-live-index="true" title="Selecionar CFOP (3D)">
                      <% cfop_3d.forEach(cfop_3d=> {%>
                        <option value="<%=cfop_3d.cfop_3d %>">
                          <%= cfop_3d.cfop_3d %>
                        </option>
                        <%}); %>
                    </select>
                  </div>
                  <div class="col-md-6 mb-2">
                    <select name="ncm_produto" id="ncm_produto" class="selectpicker form-control"
                    data-style="btn-default border" multiple data-live-index="true" title="Selecionar NCM Produto">
                      <% ncm_produto.forEach(ncm_produto=> {%>
                        <option value="<%=ncm_produto.ncm_produto %>">
                          <%= ncm_produto.ncm_produto %>
                        </option>
                        <%}); %>
                    </select>
                  </div>
                  <div class="col-md-6 mb-2">
                    <select name="cnae" id="cnae" class="selectpicker form-control"
                    data-style="btn-default border" multiple data-live-index="true" title="Selecionar CNAE">
                      <% cnae.forEach(cnae=> {%>
                        <option value="<%=cnae.cnae %>">
                          <%= cnae.cnae %>
                        </option>
                        <%}); %>
                    </select>
                  </div>
                  <div class="col-md-6 mb-2">
                    <select name="cnae_divisao" id="cnae_divisao" class="selectpicker form-control"
                    data-style="btn-default border" multiple data-live-index="true" title="Selecionar CNAE (Divisão)">
                      <% cnae_divisao.forEach(cnae_divisao=> {%>
                        <option value="<%=cnae_divisao.cnae_divisao %>">
                          <%= cnae_divisao.cnae_divisao %>
                        </option>
                        <%}); %>
                    </select>
                  </div>
                  <div class="col-md-6 mb-2">
                    <select name="cnae_grupo" id="cnae_grupo" class="selectpicker form-control"
                    data-style="btn-default border" multiple data-live-index="true" title="Selecionar CNAE (Grupo)">
                      <% cnae_grupo.forEach(cnae_grupo=> {%>
                        <option value="<%=cnae_grupo.cnae_grupo %>">
                          <%= cnae_grupo.cnae_grupo %>
                        </option>
                        <%}); %>
                    </select>
                  </div>
                  <div class="col-md-6 mb-2">
                    <select name="cnae_classe_4d" id="cnae_classe_4d" class="selectpicker form-control"
                    data-style="btn-default border" multiple data-live-index="true" title="Selecionar CNAE (Classe - 4D)">
                      <% cnae_classe_4d.forEach(cnae_classe_4d=> {%>
                        <option value="<%=cnae_classe_4d.cnae_classe_4d %>">
                          <%= cnae_classe_4d.cnae_classe_4d %>
                        </option>
                        <%}); %>
                    </select>
                  </div>
                  <div class="col-md-6 mb-2">
                    <select name="cnae_classe_5d" id="cnae_classe_5d" class="selectpicker form-control"
                    data-style="btn-default border" multiple data-live-index="true" title="Selecionar CNAE (Classe - 5D)">
                      <% cnae_classe_5d.forEach(cnae_classe_5d=> {%>
                        <option value="<%=cnae_classe_5d.cnae_classe_5d %>">
                          <%= cnae_classe_5d.cnae_classe_5d %>
                        </option>
                        <%}); %>
                    </select>
                  </div>
                  <div class="col-md-6 mb-2">
                    <select name="scr_2010_trabalho" id="scr_2010_trabalho" class="selectpicker form-control"
                    data-style="btn-default border" multiple data-live-index="true" title="Selecionar SCR 2010 Trabalho">
                      <% scr_2010_trabalho.forEach(scr_2010_trabalho=> {%>
                        <option value="<%=scr_2010_trabalho.scr_2010_trabalho %>">
                          <%= scr_2010_trabalho.scr_2010_trabalho %>
                        </option>
                        <%}); %>
                    </select>
                  </div>
                  <div class="col-md-6 mb-2">
                    <select name="scr_2010_divulga" id="scr_2010_divulga" class="selectpicker form-control"
                    data-style="btn-default border" multiple data-live-index="true" title="Selecionar SCR 2010 Divulga">
                      <% scr_2010_divulga.forEach(scr_2010_divulga=> {%>
                        <option value="<%=scr_2010_divulga.scr_2010_divulga %>">
                          <%= scr_2010_divulga.scr_2010_divulga %>
                        </option>
                        <%}); %>
                    </select>
                  </div>
                  <div class="col-md-12 mb-2 form-row mt-3">
                    <div class="form-check form-check-inline col-md-3">
                      <input class="form-check-input" type="radio" name="agrupar" id="agrupar" value="null" checked>
                      <label class="form-check-label" for="agrupar">
                        Não agrupar
                      </label>
                    </div>
                    <div class="form-check form-check-inline col-md-4">
                      <input class="form-check-input" type="radio" name="agrupar" id="agrupar2" value="emissor">
                      <label class="form-check-label" for="agrupar2">
                        Agrupar por Emissor
                      </label>
                    </div>
                    <div class="form-check form-check-inline col-md-4">
                      <input class="form-check-input" type="radio" name="agrupar" id="agrupar3" value="destinatario">
                      <label class="form-check-label" for="agrupar3">
                        Agrupar por Destinatário
                      </label>
                    </div>
                    <div class="form-check form-check-inline col-md-3">
                      <input class="form-check-input" type="radio" name="agrupar" id="agrupar4" value="cfop">
                      <label class="form-check-label" for="agrupar4">
                        Agrupar por CFOP
                      </label>
                    </div>
                    <div class="form-check form-check-inline col-md-4">
                      <input class="form-check-input" type="radio" name="agrupar" id="agrupar5" value="cnae">
                      <label class="form-check-label" for="agrupar5">
                        Agrupar por CNAE
                      </label>
                    </div>
                    <div class="form-check form-check-inline col-md-4">
                      <input class="form-check-input" type="radio" name="agrupar" id="agrupar6" value="scr">
                      <label class="form-check-label" for="agrupar6">
                        Agrupar por SCR
                      </label>
                    </div>
                  </div>

                </div>
                <div class="form-row">
                  <div class="mx-auto mb-2">
                    <button id="csv" type="submit" formaction="/" class="btn btn-success btn-lg">
                      <span class="button__text">Baixar em csv</span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <!-- Rodapé -->
          <div class="content">
          </div>
          <footer id="myFooter">
            <div class="container">
            </div>
            <div class="footer-copyright bg bg-success">
              <p>LCC - UNIFESSPA   2021 </p>
            </div>
          </footer>


            <!--Jquey-->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
              integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
              crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
              integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
              crossorigin="anonymous"></script>

            <script src="https://code.jquery.com/jquery-3.5.1.js"></script>


            <!--Bootstrap-->
            <script src="/js/bootstrap.min.js"></script>

            <!--JS local-->
            <script src="js/table.js"></script>

            <!-- Latest compiled and minified JavaScript -->
            <script
              src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

            <!-- (Optional) Latest compiled and minified JavaScript translation files -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>


            <script>
              // var myform = document.getElementById("form");
              // var fd = new FormData(myform);

              // $('#csv').click(function() {
              //   document.getElementById('csv').classList.add("button--loading");
              //   $.ajax({
              //     url: "/index",
              //     data: fd,
              //     cache: false,
              //     processData: false,
              //     contentType: false,
              //     type: 'POST',
              //     success: function() {
              //       document.getElementById('csv').classList.remove("button--loading");
              //     }
              //     })
              //   });

              $('.selectpicker').selectpicker();
            </script>

</body>

</html>