<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabela - MIP/TRU</title>

  <!-- favicon -->
  <link rel="shortcut icon" href="/img/logoIcon.png" />

  <!--Link css Local-->
  <link rel="stylesheet" href="/css/table.css">

  <!--Bootstrap-->
  <link rel="stylesheet" href="/css/bootstrap.min.css">

  <!-- Fonts -->
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">

  <!--Link Axios.js-->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
      <div class="container">
        <a class="navbar-brand" href="/">UNIFESSPA</a>

        <div class="dropdown">
          <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Usuário
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/editar">Perfil</a>
            <a class="dropdown-item" href="/logout">Sair</a>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <!-- Cria uma lista com as mensagens ao ser redirecionado após um cadastro -->
  <% if(messages.success_msg) {%>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= messages.success_msg %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
<% } %>

<% if(messages.error) {%>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= messages.error %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
<% } %>

  <div class="container mt-5">
    <div class="">
      <form method="POST" id="form">
        <div class="row mb-3">
          <div class="col-md-6 mb-2">
            <select name="municipio_emissor" id="municipio_emissor" class="form-control">
              <option value="" selected>Selecionar Emissor</option>
              <% municipio_emissor.forEach(m_e => {%>
                <option value=<%= m_e.municipio_emissor %> ><%= m_e.municipio_emissor %></option>
              <%}); %> 
            </select>
          </div>
          <div class="col-md-6 mb-2">
            <select name="uf_emissor" id="uf_emissor" class="form-control">
              <option value="" selected>Selecionar UF Emissor</option>
              <% uf_emissor.forEach(u_e => {%>
                <option value=<%= u_e.uf_emissor %> ><%= u_e.uf_emissor %></option>
              <%}); %> 
            </select>
          </div>
          <div class="col-md-6 mb-2">
            <select name="municipio_destinatario" id="municipio_destinatario" class="form-control">
              <option value="" selected>Selecionar Destinatário</option>
              <% municipio_destinatario.forEach(dest => {%>
                <option value=<%= dest.municipio_destinatario %> ><%= dest.municipio_destinatario %></option>
              <%}); %> 
            </select>
          </div>
          <div class="col-md-6 mb-2">
            <select name="uf_destinatario" id="uf_destinatario" class="form-control">
              <option value="" selected>Selecionar UF Destinatário</option>
              <% uf_destinatario.forEach(u_d => {%>
                <option value=<%= u_d.uf_destinatario %> ><%= u_d.uf_destinatario %></option>
              <%}); %> 
            </select>
          </div>
          <div class="col-md-6 mb-2">
            <select name="cfop" id="cfop" class="form-control">
              <option value="" selected>Selecionar CFOP</option>
              <% cfop.forEach(cfop => {%>
                <option value=<%= cfop.cfop %> ><%= cfop.cfop %></option>
              <%}); %> 
            </select>
          </div>
          <div class="col-md-6 mb-2">
            <select name="cfop_1d" id="cfop_1d" class="form-control">
              <option value="" selected>Selecionar CFOP (1D)</option>
              <% cfop_1d.forEach(cfop_1d => {%>
                <option value=<%= cfop_1d.cfop_1d %> ><%= cfop_1d.cfop_1d %></option>
              <%}); %> 
            </select>
          </div>
          <div class="col-md-6 mb-2">
            <select name="cfop_2d" id="cfop_2d" class="form-control">
              <option value="" selected>Selecionar UF CFOP (2D)</option>
              <% cfop_2d.forEach(cfop_2d => {%>
                <option value=<%= cfop_2d.cfop_2d %> ><%= cfop_2d.cfop_2d %></option>
              <%}); %> 
            </select>
          </div>
          <div class="col-md-6 mb-2">
            <select name="cfop_3d" id="cfop_3d" class="form-control">
              <option value="" selected>Selecionar CFOP (3D)</option>
              <% cfop_3d.forEach(cfop_3d => {%>
                <option value=<%= cfop_3d.cfop_3d %> ><%= cfop_3d.cfop_3d %></option>
              <%}); %> 
            </select>
          </div>
          <div class="col-md-6 mb-2">
            <select name="cnae" id="cnae" class="form-control">
              <option value="" selected>Selecionar CNAE</option>
              <% cnae.forEach(cnae => {%>
                <option value=<%= cnae.cnae %> ><%= cnae.cnae %></option>
              <%}); %> 
            </select>
          </div>
          <div class="col-md-6 mb-2">
            <select name="cnae_divisao" id="cnae_divisao" class="form-control">
              <option value="" selected>Selecionar CNAE (Divisão)</option>
              <% cnae_divisao.forEach(cnae_divisao => {%>
                <option value=<%= cnae_divisao.cnae_divisao %> ><%= cnae_divisao.cnae_divisao %></option>
              <%}); %> 
            </select>
          </div>
          <div class="col-md-6 mb-2">
            <select name="cnae_grupo" id="cnae_grupo" class="form-control">
              <option value="" selected>Selecionar CNAE (Grupo)</option>
              <% cnae_grupo.forEach(cnae_grupo => {%>
                <option value=<%= cnae_grupo.cnae_grupo %> ><%= cnae_grupo.cnae_grupo %></option>
              <%}); %> 
            </select>
          </div>
          <div class="col-md-6 mb-2">
            <select name="cnae_classe_4d" id="cnae_classe_4d" class="form-control">
              <option value="" selected>Selecionar CNAE (Classe - 4D)</option>
              <% cnae_classe_4d.forEach(cnae_classe_4d => {%>
                <option value=<%= cnae_classe_4d.cnae_classe_4d %> ><%= cnae_classe_4d.cnae_classe_4d %></option>
              <%}); %> 
            </select>
          </div>
          <div class="col-md-6 mb-2">
            <select name="cnae_classe_5d" id="cnae_classe_5d" class="form-control">
              <option value="" selected>Selecionar CNAE (Classe - 5D)</option>
              <% cnae_classe_5d.forEach(cnae_classe_5d => {%>
                <option value=<%= cnae_classe_5d.cnae_classe_5d %> ><%= cnae_classe_5d.cnae_classe_5d %></option>
              <%}); %> 
            </select>
          </div>
          <div class="col-md-6 mb-2">
            <select name="scr_2010_trabalho" id="scr_2010_trabalho" class="form-control">
              <option value="" selected>Selecionar SCR 2010 Trabalho</option>
              <% scr_2010_trabalho.forEach(scr_2010_trabalho => {%>
                <option value=<%= scr_2010_trabalho.scr_2010_trabalho %> ><%= scr_2010_trabalho.scr_2010_trabalho %></option>
              <%}); %> 
            </select>
          </div>
          <div class="col-md-6 mb-2">
            <select name="scr_2010_divulga" id="scr_2010_divulga" class="form-control">
              <option value="" selected>Selecionar SCR 2010 Divulga</option>
              <% scr_2010_divulga.forEach(scr_2010_divulga => {%>
                <option value=<%= scr_2010_divulga.scr_2010_divulga %> ><%= scr_2010_divulga.scr_2010_divulga %></option>
              <%}); %> 
            </select>
          </div>
          <div class="col-md-6 mb-2">
            <select name="ncm_produto" id="ncm_produto" class="form-control">
              <option value="" selected>Selecionar NCM Produto</option>
              <% ncm_produto.forEach(ncm_produto => {%>
                <option value=<%= ncm_produto.ncm_produto %> ><%= ncm_produto.ncm_produto %></option>
              <%}); %> 
            </select>
          </div>
          <div class="col-md-12 mb-2 form-row mt-3">
            <div class="form-check form-check-inline col-2">
              <input class="form-check-input" type="radio" name="agrupar" id="agrupar" value="null" checked>
              <label class="form-check-label" for="agrupar">
                Não agrupar
              </label>
            </div>
            <div class="form-check form-check-inline col-3">
              <input class="form-check-input" type="radio" name="agrupar" id="agrupar2" value="cnae">
              <label class="form-check-label" for="agrupar2">
                Agrupar por CNAE
              </label>
            </div>
            <div class="form-check form-check-inline col-3">
              <input class="form-check-input" type="radio" name="agrupar" id="agrupar3" value="emissor">
              <label class="form-check-label" for="agrupar3">
                Agrupar por Emissor
              </label>
            </div>
            <div class="form-check form-check-inline col-3">
              <input class="form-check-input" type="radio" name="agrupar" id="agrupar4" value="destinatario">
              <label class="form-check-label" for="agrupar4">
                Agrupar por Destinatário
              </label>
            </div>
          </div>
          
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-2">
            <button id="csv" type="submit" formaction="/search" class="btn btn-success btn-block">
              <span class="button__text">Baixar em csv</span>
            </button>
          </div>
          <div class="col-md-4 mb-2">
            <input type="submit" class="btn btn-primary btn-block" formaction="/xlsx" value="Baixar em xlsx">
          </div>
          <div class="col-md-4 mb-2">
            <input type="submit" class="btn btn-secondary btn-block" formaction="/pdf" value="Baixar em pdf">
          </div>
        </div>
      </form>
    </div>
  </div>


  <!--Jquey-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>


  <!--Bootstrap-->
  <script src="/js/bootstrap.min.js"></script>

  <!--JS local-->
  <script src="js/table.js"></script>

  
  <!-- <script>
    var myform = document.getElementById("form");
    var fd = new FormData(myform);
    
    $('#csv').click(function() {
      document.getElementById('csv').classList.add("button--loading");
      $.ajax({
        url: "/search",
        data: fd,
        cache: false,
        processData: false,
        contentType: false,
        type: 'POST',
        success: function() {
          document.getElementById('csv').classList.remove("button--loading");
        }
        })
      });
  </script> -->

</body>

</html>