<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabela - MIP/TRU</title>

  <!-- favicon -->
  <link rel="shortcut icon" href="/img/logoIcon.png" />

  <!--Link css Local-->
  <link rel="stylesheet" href="/css/table.css">

  <!--Bootstrap-->
  <link rel="stylesheet" href="/css/bootstrap.min.css">

  <!-- Fonts -->
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">

  <!--Link Axios.js-->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
      <div class="container">
        <a class="navbar-brand" href="/">UNIFESSPA</a>

        <div class="dropdown">
          <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Usuário
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/editar">Perfil</a>
            <a class="dropdown-item" href="/logout">Sair</a>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <!-- Cria uma lista com as mensagens ao ser redirecionado após um cadastro -->
  <% if(messages.success_msg) {%>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= messages.success_msg %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
<% } %>

<% if(messages.error) {%>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= messages.error %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
<% } %>

  <div class="container mt-5">
    <div class="">
      <form method="POST" id="form">
        <div class="row mb-3">
          <div class="col">
            <select name="ano" id="ano" class="form-control">
              <option value="" selected>Selecionar Ano</option>
              <% ano.forEach(ano => {%>
                <option value=<%= ano.ano %> ><%= ano.ano %></option>
              <%}); %> 
            </select>
          </div>
          <div class="col">
            <select name="entrada" id="entrada" class="form-control">
              <option value="" selected>Selecionar Entrada/Saída</option>
              <% entrada.forEach(e => {%>
                <option value=<%= e.entrada %> ><%= e.entrada %></option>
              <%}); %> 
            </select>
          </div>
          <div class="col">
            <select name="destinatario" id="destinatario" class="form-control">
              <option value="" selected>Selecionar Destinatário</option>
              <% destinatario.forEach(dest => {%>
                <option value=<%= dest.destinatario %> ><%= dest.destinatario %></option>
              <%}); %> 
            </select>
          </div>
          <div class="col">
            <select name="cnae" id="cnae" class="form-control">
              <option value="" selected>Selecionar CNAE</option>
              <% cnae.forEach(cnae => {%>
                <option value=<%= cnae.cnae %> ><%= cnae.cnae %></option>
              <%}); %> 
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="col-4">
            <button id="csv" type="submit" class="btn btn-success btn-block">
              <span class="button__text">Baixar em csv</span>
            </button>
          </div>
          <div class="col-4">
            <input type="submit" class="btn btn-primary btn-block" formaction="/xlsx" value="Baixar em xlsx">
          </div>
          <div class="col-4">
            <input type="submit" class="btn btn-secondary btn-block" formaction="/pdf" value="Baixar em pdf">
          </div>
        </div>
      </form>
    </div>
  </div>

  <footer>
    <div class="col-xg fixed-bottom">
      <nav class="navbar navbar-light bg-sucess">
        <div class="rodape"><a class="navbar-brand" href="/">@Unifesspa</a></div>
      </nav>
    </div>
  </footer>

  <!--Jquey-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>


  <!--Bootstrap-->
  <script src="/js/bootstrap.min.js"></script>

  <!--JS local-->
  <script src="js/table.js"></script>

  
  <script>
    var myform = document.getElementById("form");
    var fd = new FormData(myform);
    
    $('#csv').click(function() {
      document.getElementById('csv').classList.add("button--loading");
      $.ajax({
        url: "/search",
        data: fd,
        cache: false,
        processData: false,
        contentType: false,
        type: 'POST',
        success: function() {
          document.getElementById('csv').classList.remove("button--loading");
        }
        })
      });
  </script>

</body>

</html>